{% block navbar %}
<header class='container'>
  <div id="logo">
   <img src="/img/logo.svg">
  </div>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li class='menu-item' data-scroll="#section-second">

            <span>Projects</span>
        </li>
        <li class='menu-item' data-scroll="#section-third">

            <span>Experience</span>
        </li>
        <li class='menu-item' data-scroll="#section-forth">
            <span>About me</span>
        </li>
        <li class='menu-item btn-secondary' data-scroll="#section-fifth">
            <span>Message Me</span>
        </li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>

{% endblock %}