{% extends 'base.html.twig' %}

{% block title %}New Challenge{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new Challenge</h1>

    {{ include('admin/challenge/_form.html.twig') }}

    <a href="{{ path('challenge_index') }}">back to list</a>
</div>
{% endblock %}
