{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div class='container'>
    <div>
        <a href="{{ path('project_index') }}">Projects</a>
    </div>
    <div>
        <a href="{{ path('challenge_index') }}">Challenges</a>
    </div>
    <div>
        <a href="{{ path('technology_index') }}">Technologies</a>
    </div>
    <div>
        <a href="{{ path('photo_index') }}">Photos</a>
    </div>
</div>



{% endblock %}
