html{
    /* width: 100vw; */

   
    background-color: rgb(75, 75, 75);
    margin:0 auto;

    padding:0;
    width: 100%;
    max-width: 2200px;
}
div{
    margin:0;
    padding:0;
}
body{
    background-color: #bbb;
    
    margin:0;
    padding:0;
    color:#89d42f;
    font-family:"Ubuntu mono";
    font-weight: bold;
    font-size: 1.2em;
}
ul{
    list-style: none;
    color:white;
}
#main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-basis: 200px;
    background-image: url("/assets/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    background-position: center;
}
/* #main-left{
    flex:.3;
} */
#main-right{
    flex:1;
}
img{
    padding:0;
    margin:0;
    max-width: 99%;
    width: 99%;
    height: 99%;
  
}

@media (min-aspect-ratio: 8/5) {
  #main{
    background-image: url("/assets/img/backgroundimg.jpg");
    }
  }
  

