html{
    /* width: 100vw; */

   
    background-color: #fff;
    margin:0 auto;

    padding:0;
    width: 100%;
    max-width: 2200px;
    
    
}
div{
    margin:0;
    padding:0;
}
body{
    background-color: rgba(0, 0, 0, 0.932);
    margin:0;
    padding:0;
    color:white;
    font-family: 'Poppins';
}
ul{
    margin:0;
    padding:0;
    list-style: none;
    color:white;
}
#overlay{
    position: fixed;
    top:50%;
    left:50%;
    z-index: 100;
}
#overlay img{
    width: 70px;
}

.terminal{
    /* font-family:"Ubuntu mono"; */
    color:white;
}
.terminal-green{
    color:#89d42f;
}

#main-matrix{
    width: 100%;
    height: 100vh;
    position:fixed;
    z-index: 100;
    opacity:0;
    padding:3%;
}
#main{
    position: relative;
    opacity:0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-basis: 200px;
    background-image: url("/assets/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position: center;
}
#main-absolute{
    position: absolute;

  
}
#main-absolute img{
    width: 30px;
    background-color: rgba(255, 0, 0, 0);
    
}
#svg-animations{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: rgb(255, 255, 255);
    border-radius: 15%;
}

#svg-animations img{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
    border-radius: 15%;
    background-color: rgb(255, 255, 255);

   
}
#svg-animations img:first-child{
    opacity: 1;
}

#main-left{
    background-image: linear-gradient(90deg, rgb(14, 14, 14), rgba(14, 14, 14, 0.43), rgba(63, 63, 63, 0.164));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex:.2;
    height:100%;
    position: relative;
}
#menulist{
    flex: .75;
    display: flex;
    align-items: flex-end;
    margin-top:auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.616);
}
#menulist ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex:1;
    height: 70%;
    padding:3em;
}
#menulist ul li{
    padding:.75em;
    font-size: 1.1em;
    cursor: pointer;


}
#menulist ul li:hover{
    color:#89d42f;
    transition:.3s;
    padding-left:5%;

}
.logo{
    /* position:absolute;
    width: 100%;
    top:2%;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.logo img{
    width: 100%;
}
.logo > div{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding:1% 5%;
}
.tags{
    display:flex;
    flex-direction: row;
    justify-content: center;


}
.tags > div{
    margin: .1em .35em;
    flex:0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:.33em .55em;
    border-radius: .75em;
    background-color: rgba(9, 121, 43, 0.918);
    font-size: .8em;
}
#main-right{
    flex:.7;

}
#social-media{
    position: absolute;
    bottom:0%;
    height: 33%;
    width: 100%;
    background-image: linear-gradient(0deg, rgb(7, 2, 46), rgba(35, 56, 112, 0.83), rgba(2, 4, 77, 0.664));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 3px rgb(0, 0, 0);
}

div.social-media{
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: space-around;
    font-size: .7em;
    text-align: center;

}
div.social-media > div{
    display: flex;
    padding:1% 5%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    text-transform: capitalize;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.288);
}
.social-media img{
    width: 30px;
    height: 30px;
    padding:1em;
    
}

@media (min-aspect-ratio: 8/5) {
  #main{
    background-image: url("/assets/img/bg.jpg");
    }
  }


@media (min-aspect-ratio: 14/5) {
    #main{
        background-image: url("/assets/img/logo.svg");
  
        }
    .logo{
        display: none;
        }
    #menulist ul{
        height: 80%;
    }
    #main-left{
        background-image: linear-gradient(90deg, rgb(14, 14, 14), rgba(14, 14, 14, 0.83), rgba(63, 63, 63, 0.664));
    }
}