$font-stack: Poppins, Helvetica, sans-serif;

$color: #aeb2b4;
$white: #f3f3f3;
$bg-color: #0D0C0C;
$font-size: 16px;
$line-height: 1.5em;


// $primary-color: #0e6cff;
$primary-color: #2795AD;

// $primary-color: #e0ffff;
$secondary-color: #1e9c65;
$secondary-color-hover:  #61ac81;
$third-color:#00164a;
$third-color-hover:#0a235c;

$success-color: #ffffff;
$danger-color: #ffffff;
$info-color: #ffffff;

$success-bg: rgb(11, 151, 11);
$danger-bg: red;
$info-bg: rgb(39, 85, 145);

// Set text color based on bg
@function set-text-color($c) {
    @if(lightness($c) > 70) {
      @return #333;
    } @else {
      @return $color;
    }
  }
  
  // Set background & text color
  @mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color)
  }


// unselect
%unselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(206, 206, 206);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #858585;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #757575;
}