@media (min-aspect-ratio: 8/5) and (min-width: 600px) {


    #section-second{
        background-image: url("/public/img/sectioncontact.png");
        // background-color: rgb(13,13,13);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 2200px;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color:rgb(51, 51, 51);
    }
    #section-third {
        background-image: url("/public/img/sectionexp.png");
        // background-color: rgb(13,13,13);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 2200px;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #section-forth {
        color:grey;
        background-image: url("/public/img/sectioncontact.png");
        // background-color: rgb(13,13,13);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 2200px;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #section-fifth {
        color:grey;
        background-image: url("/public/img/sectionabout.png");
        // background-color: rgb(13,13,13);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 2200px;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #initialize {
        font-size:1.2em;

        .init-row{
            
            flex-direction: row;
            justify-content: space-between;
        }
    }

    
}

    
@media (min-aspect-ratio: 14/5)  {

  }