@media (min-width: 768px) {


    h1 {
        font-size:2.2em;
    }

    h2 {
        font-size:1.5em;
    }
    
    h3 {
        font-size:1.3em;
    }
    
    h4 {
        font-size:1em;
    }
    
    h5 {
        font-size:.9em;
    }
    
    h6 {
        font-size:.75em;
    }


    header {
        padding: 1em 1.75em;
        background-color: unset;
        .nav-toggle-label {
            display: none;
          }

        #logo img {
            height:40px;
            padding-left: 0;
        }

        nav {
            position: relative;
          
            transition: none;
            transform: scale(1,1);
            background: none;
            top: initial;
            left: initial;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            
            > ul {
                gap:3em;
                flex-direction: row;
                padding-bottom: unset;
                background-color: unset;
                border-bottom: unset;
            }

            li {
                opacity: 1;
                padding: unset;
            }
            
        }
    }



    #section-first-left{
        display: flex;
     
    }

    section {
        flex-direction: row;
        // padding-top:8em;
        // padding-bottom:8em;

    }

    #section-first{
        padding-top:auto;
        min-height:calc(100vh - 65px);
        min-height: min(100vh - 65px, 800px);
        max-height: 800px;
      
    }
    #section-first-right{
        width:50%;
        margin-top:unset;
       

        .span-elements {
            font-size:3.3em;
        }

        span {
            font-size: 72px;
            line-height: 1;
        }
    }

    #myprojects {
        width: unset;
    }

    .version {
        max-width: 60%;
        position:absolute;
        bottom:0;
        right:0;
        transform: translateY(+50%);
        img {
          width: 100%;
        }
      }

    .card-holder {
    justify-content: flex-start;
    margin-bottom:85px;
    }


    #project-details {
        .card {
            
            display: grid;
            grid-template-areas: "title title links" 
                            "content content  technology"
                            "challenge challenge challenge"
                            "photo photo photo";
            grid-template-columns: 1fr 1fr 1fr;

            

        }
        .card-technology {
            border-left:1px dashed rgba(255, 255, 255, 0.082);
            border-top:none;
        }
        div.card-links {
            padding-top:55px;
            .card-links-div {
  
              min-width: 120px;
        
            }
            .card-bottom-btn2 {
              min-width: 120px;
            }
        }

        div.card-challenge-container{
            grid-template-columns: 50% 50%;
            
        }

        .card-photo {

            .card-photo-buttons {
                flex-direction: row;
            }

            .btn-screenshot {
                width: unset;
            }
        

            .content-screenshot-item {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap:25px;
        
                > div {
                padding:15px;
                }
            }

            .content-screenshot-item-counter {
                font-size: 110px;
            }

            .content-screenshot-item:nth-of-type(even) {
                .content-screenshot-item-img {
                order: 1;
                }
        
                .content-screenshot-item-details {
                order: 2;
                }
            }
        }
    }

    .exp-list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
        gap:65px;
    }

    .exp-list-item {
        max-width: 500px;
        padding-top: unset;
    }

    .exp-title-item{
        justify-content: flex-start;
      
    }

    .contact-social-media {
        > div {
            width: calc(50% - 25px);
        }
    }

    .contact-content {
        flex-direction: row;
    }

    .contact-details { 
        padding:75px 45px;
        width: 45%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
        align-items: flex-start;
    }

    .contact-form {
        padding:75px 45px;
        position: relative;
        width: 55%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 5px;

        form {
            input, textarea, .btn-msg-contact {
                min-width: 380px;
            }
        }
        
    }

    .contact-form:before {
        content: "";
        background-color: inherit;
        position: absolute;
        top:0;
        left:-35px;
        height:100%;
        width:70px;
        transform: skewX(-5deg);
    }
      
}
