@use "config";
@use "tools";
@use "buttons";



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html {
  background-color: #0D0C0C;
  font-size:13px;
  color:rgb(248, 245, 245);
  
}

body {
  max-width: 1124px;
  justify-content: center;
  font-family: config.$font-stack;
  line-height: 1.6;
  margin:0 auto;
  
}
a {
  color:inherit;
}
li {
  text-decoration: none;
}
ul{
  list-style: none;
}
img {
  // width: 100%;
}

a {
  text-decoration: none;
}

#main {
  padding-top:0 !important;
}
#navbar {
  min-height:65px;
  opacity:0;
  display: flex;
  justify-content: space-between;

  #logo {
   
    flex:1;
    display: flex;
    justify-content: start;
    align-items: center;
  
    img {
      width:15em;
    }
  }

  > ul {

    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 1.75rem;

  }

  li {
    
    display: flex;
    align-items: center;
    text-align:center;
    transition: all ease-in .3s;
    color:rgb(240, 240, 240);
    white-space: nowrap;
    
  }

  li:hover {
    color:#fff;
  }
}
#up-screen {
  z-index: 100;
  display: none;
  position: fixed;
  bottom: 1.5em;
  right: 2em;
  opacity: 0.5;
  transition: all .3s ease-out;
  cursor: pointer;
  

  img {
    background-color: gray !important; 
    width: 40px;
    padding:10px;
    border-radius: 50%;
  }
}

#up-screen:hover {
  opacity: 1;
}



.showcase {
  @include config.set-background(config.$primary-color);
  height: 600px;



  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    img {
      width: 50%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }
  }
}


.container{
  width:100%;
  padding: 1em 1.75em;
  position:relative;
  
}

section{
  width:100%;
  background-color: inherit;
}
#section-first{
  display: flex;
  flex-direction: row;
  min-height:calc(100vh - 65px);
  background-image: url("/public/img/onebg.png");
  // background-color: rgb(13,13,13);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}
#section-first-left{
  width:50%;
  z-index: 3;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 
}


#section-first-right{

  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
  width:50%;

  span {
    opacity:0;
    font-size:5em;
    font-weight: bold;
    line-height: 1.2em;
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}
#main-img {
  position: relative;
  opacity:0;
  display: flex;
  align-items: flex-end;

  img {

    width: 100%;
  }
}

#descend-rotate{
  opacity:0;

}
.dark-svg{
  position: absolute;
  opacity: 0;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  transition: ease opacity 1s;
}


#composite {
  position:absolute;
  left:0;
  top:50%;
  transform: translate(-100%, -50%);
  width:20px;
  display: flex;
  align-items: center;

  img {
    width: 100%;
  }
}
#composite-line{
  position:absolute;
  left:0;
  top:50%;
  transform: translate(-100%, -50%);
  width:50vw;

  display: flex;
  align-items: center;

  img {
    width: 100%;
  }
}

#composite-arrow{
  position:absolute;
  right:0;
  top:50%;
  transform: translate(100%, -50%);
  width: 250px;
  display: flex;
  align-items: center;


  img {
    width: 100%;
  }
}

.descend{
  position: absolute;
  bottom:0;
  left:50%;
  transform: translateX(calc(-50% - 60px));
  width: 250px;
  opacity: 0;
}
.descend-rotate{
  margin:0 auto;
  width: 250px;
  position: relative;
  
}

.composite-anime{
  opacity: 0;

}

.card-holder {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  
}
.card {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding:25px;
  justify-content: center;

}

@import "media";