@use "config";
@use "buttons";



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html {
  line-height:config.$line-height;
  font-size:config.$font-size;
  background-color: config.$bg-color;
  color:config.$color;
  font-family: config.$font-stack;
  
}

body {
  // max-width: 1124px;
  justify-content: center;
  // margin:0 auto;
  
}

h1, h2, h3, h4, h5, h6 {
  
 
  line-height: 1.4em;
  letter-spacing: .05em;
}

h1 {
  font-size:1.7em;
  text-transform: uppercase;
  font-family:"Inter";
  margin-bottom: 1em;
}

.subtitle {
  margin-bottom: 60px;
}
h2 {
  font-size:1.3em;
}

h3 {
  font-size:1.1em;
}

h4 {
  font-size:1em;
}




a {
  @extend %unselect;
  color:inherit;
  text-decoration: none;
}
li {
  text-decoration: none;
}
ul{
  list-style: none;
}
img {
  @extend %unselect;
  max-width: 100%;
  // width: 100%;
}
.none {
  display: none;
}
#map {
  height:300px;
  width: 100%;
  z-index: 1;
}

.div-flash {
  position: fixed;
  z-index: 1000;
  left:0;
  top:0;
  width: 100vw;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.success {
  color: config.$success-color;
  background-color: config.$success-bg;
}

.danger {
  color: config.$danger-color;
  background-color: config.$danger-bg;
}

.info {
  color: config.$info-color;
  background-color: config.$info-bg;
}

::selection {
  color: rgb(0, 0, 0);
  background-color: config.$secondary-color;
}


.container {
  max-width: 1124px;
  width:100%;
  position:relative;
  padding-right:20px;
  padding-left:20px;
  margin: 0 auto;
}

#main {
  padding-top:0 !important;
}

header {

  @extend %unselect;
  width: 100%;
  min-height:65px;
  padding: 10px !important;
  opacity:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:999 !important;
  position: relative;

  #logo {
     
    flex:.45;
    display: flex;
    justify-content: start;
    align-items: center;
  
    img {
      max-width: unset;
      height:35px;
    }
  }

  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    
    > ul {
      font-size:.95em;
      flex-direction: column;
      justify-content: space-between;
      display: flex;
      align-items: center;
      flex:.55;
      background-color: config.$bg-color;
      padding-bottom:2em;
      border-bottom: 1px solid rgba(128, 128, 128, 0.534);
      
    }
  
    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      text-align:center;
      transition: all ease-in .3s;
      padding:2em;
      white-space: nowrap;
      opacity:0;
      transition: opacity 150ms ease-in-out;
      
    }

    
  
    li:hover {
      color:#ffffff;
    }
  
    
  }
  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }

  .nav-toggle:checked ~ nav ul li {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

  .nav-toggle-label {
    display: block;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding:20px;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: config.$white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }

  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 1px solid config.$white;
   
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

}


#up-screen {
  z-index: 100;
  display: none;
  position: fixed;
  bottom: 1.5em;
  right: 2em;
  opacity: 0.5;
  transition: all .3s ease-out;
  cursor: pointer;
  

  img {
    background-color: gray !important; 
    width: 40px;
    padding:10px;
    border-radius: 50%;
  }
}

#up-screen:hover {
  opacity: 1;
}


section{
  width:100%;
  background-color: inherit;
  padding-bottom:4em;
  padding-top:4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  position: relative;


  h1 {
      color:config.$white;
      position: relative;
      // border-left: 11px solid config.$primary-color;
      // border-radius: 3px;
  }

  h1:after {
    content:"";
    height: 8px;
    width:58px;
    background-color: config.$primary-color;
    border-radius: 5px;
    position: absolute;
    left:0;
    top:-10px;
  }
}



#section-first{
  padding-top:0;
  @extend %unselect;
  min-height:calc(100vh - 65px);
  min-height: min(100vh - 65px, 800px);
  max-height: 800px;
  align-items: center;
  justify-content: center;

}
#section-first-left{
  display: none;
  width:50%;

  position:relative;

  justify-content: center;
  align-items: center;


}


#section-first-right{

  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
  width:100%;
  transform: translateY(-5%);


  .span-elements {
    opacity:0;
    font-size:2.8em;
    font-weight: bold;
    line-height: 1.1em;
    color:config.$white;
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

  }

  #myprojects {
    opacity: 0;
    font-size:1em;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight:normal;
    letter-spacing:.03em;
    color:config.$white;


    img {
      padding-right:.5em;
    }
  }


  #myprojects:hover {
    color:white !important;
    background-color: config.$primary-color;
  }

}

#main-img {
  position: relative;
  opacity:0;
  display: flex;
  align-items: flex-end;

  img {

    width: 100%;
  }
}

.dark-svg{
  position: absolute;
  opacity: 0;
  top:50%;
  left:50%;
  width: 4.5em;
  transform:translate(-50%, -50%);
  transition: ease opacity 1s;
}


.version {
  max-width: 50%;
  width: 300px;
  position:absolute;
  z-index:1;
  
  img {
    width: 100%;
  }
}

#version{
  bottom:0;
  right:20px;
  transform: translateY(50%);
  opacity:0;
}


#section-second{
  // background-color: rgb(22, 22, 22);
  // background-color: #000361;
  background-image: url('/public/img/projectimg.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;

}
#section-third {

  background-image: url('/public/img/expimg.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;

  
}
#section-forth {

 

  
}

#section-fifth {
  background-image: url('/public/img/contactimg.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: black;
}


// .div-table {
  
//   z-index:3;
//   font-size: .8em;
//   display: grid;
//   grid-template-columns: 1fr 3fr 3fr 2fr;
//   overflow-x: auto;
//   margin-bottom: 4em;
//   border-radius: 12px;
// }



// .div-col {
//   border-bottom: 1px solid rgba(87, 87, 87, 0.185);
//   display: flex;
//   flex-direction: column;
//   gap:10px;
//   padding:1em .2em;
//   flex:1;
//   flex-shrink: 0;
//   text-align: center;
//   background-color: rgb(20, 20, 20);
//   color:config.$secondary-color;
//   font-family: "Poppins-light";
// }

// .div-col-type {
//   display: none;
// }

// .div-col:nth-child(1) {
//   flex:0;
// }
// .div-col:nth-child(5) {
//   flex:0;

// }
// .div-col:nth-child(3) {
//   flex:2;

// }

.card-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom:60px;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,.125);
  width: 100%;
  max-width: 320px;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding:1em;
  width: 100%;
  flex:1;
}
.card-title {
 
  
}


#project-list {
  color: rgb(173, 173, 173);
  gap: 2.5em;
  
  .card {
    border-radius: .35rem;
    background-color: rgb(5, 5, 5);
    cursor: pointer;
    translate: all .3s ease-out;
    box-shadow: 0px 0px 7px 2px rgba(175, 175, 175, 0.055);
  }

  .card:hover {
    transform: scale(1.01);
    border-color: rgba(175, 175, 175, 0.295);

    .card-photo {
     
      background-color: config.$primary-color;
      img {
        transform:scale(1.02);
       
      }
    }

    .card-content {
      background-color: #000;
     
      color:rgb(231, 231, 231);
    }
  }

  .card-photo {
    
    width: 100%;
    max-height: 200px;
    position: relative;
    color:rgb(48, 48, 48);
    background-color: config.$primary-color;
    border-radius: .35rem .35rem 0 0;
    font-family:"Inter";
    font-weight: bolder;
    // text-transform: uppercase;
  
    img {
      width: 100%;
      max-height: 200px;
      padding-top:40px;
      translate: all .3s ease-out;
    }
  }

  .card-photo-title {
    position: absolute;
    display: flex;
    padding:10px;
    justify-content: space-between;
    top:0;
    width: 100%;
    
  }
  .card-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;

     > div {
       display: flex;
       flex-direction:row;
       justify-content: center;
       align-items:center;
       text-transform: uppercase;
       flex:.5;
       padding:1em;

     }
     > div:hover {
        background-color: config.$primary-color;
     }
     .card-bottom-btn {
       background-color: initial;
     }

  }


  
}


#project-details {

  
    display: flex;
    flex-direction: column;
    gap:4em;
 
  
  .card {
    max-width: 100%;
    display: grid;
    grid-template: "photo title title" 
                    "photo content content"
                    "technology content content"
                    "technology footer footer";
    border-radius: 12px;
    box-shadow: 2px 2px 0 4px rgba(22, 22, 22, 0.527);
    width: 100%;
    padding:0;
  
  }
  .card:nth-of-type(n){
    background-color: rgb(17, 17, 17);
  
  }
  
  
  .card-photo {
    grid-area: photo;
   
    img {
      border-top-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
  .card-title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:4em;
  }
  .card-content {
    grid-area: content;
    padding:4em;
  }
  .card-technology {
    grid-area: technology;
    padding:4em;
  }
  .card-footer {
    grid-area: footer;
    padding:4em;
    display: flex;
    justify-content: flex-end;
  }

}

.contact-content {
  display: flex;
  flex-direction: column;
  gap:50px;
}


footer {
  background-color: gray;
}

@import "media";