{% block navbar %}
<div style='display:flex;flex-direction:row;align-items:center;justify-content:space-evenly; height:45px'>
    <a href="{{ path('admin') }}">Panel</a>
    <a href="{{ path('contact_index') }}">Messages</a>
    <a href="{{ path('customer_index') }}">Customers</a>
    <a href="{{ path('project_index') }}">Projects</a>
</div>

{% endblock %}