<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="google" content="notranslate">
        <meta name="theme-color" content="#280610" />
        <meta name="viewport"  content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="UA-X-Compatible" content="IE=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            {# <link rel="stylesheet" type="text/css" href="/assets/css/fonts-v1.css">
            <link rel="stylesheet" type="text/css" href="/assets/css/main-v1.css"> #}
            {{ encore_entry_link_tags('app') }}

        {% endblock %}

        {% block javascripts %}
           
            
        {% endblock %}
    </head>
   
    <body>
        {% block upscreen %}
            {# include upscreen (can be removed if needed, overwriting the block) #}
            <div id='up-screen'>
                <img src="/img/chev-up.svg" alt="up-arr"/>
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js" integrity="sha512-wK2NuxEyN/6s53M8G7c6cRUXvkeV8Uh5duYS06pAdLq4ukc72errSIyyGQGYtzWEzvVGzGSWg8l79e0VkTJYPw==" crossorigin="anonymous"></script>
     {# <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.6/flatpickr.min.js" integrity="sha512-Nc36QpQAS2BOjt0g/CqfIi54O6+UWTI3fmqJsnXoU6rNYRq8vIQQkZmkrRnnk4xKgMC3ESWp69ilLpDm6Zu8wQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.6/l10n/ro.min.js" integrity="sha512-TUeuMefsiJXsoCSnaftAgb+df2dkq8ljkFw4JLAtDb3gfxalGo72jUVOz0vz0KxvrvqDsJnclfrv4WLrXwGrkQ==" crossorigin="anonymous"></script> #}
    {% block mainjavascript %}
        {# <script src="/assets/js/main-v1.js"></script> #}
           
    {% endblock %}        
</html>
